# This file will tell git to ignore the following files.
# Please _do not delete or modify this file unless you know what you're doing!_
cache/frontend/dev/*
cache/frontend/prod/*
cache/backend/dev/*
cache/backend/prod/*
cache/*.cache
web/uploads/*
# config/databases.yml
config/propel.ini
data/sql
lib/filter/doctrine/base/Base*
lib/form/doctrine/base/Base*
lib/model/doctrine/base/Base*
lib/filter/doctrine/sfDoctrineGuardPlugin/base/*
lib/form/doctrine/sfDoctrineGuardPlugin/base/*
lib/model/doctrine/sfDoctrineGuardPlugin/base/*
lib/model/om/*
lib/model/map/*
*.swp
*.sublime-*
