/* Specific stripe that differentiates the Admin Login */
.admin-content h1 {
  /* change the background from the ugly colour here! */
  /*background: #eee; */
  background: url("../images/stripe.png") top left;
  padding-top:2px;
  padding-bottom:2px;
  padding-left:5px;
}

.tool-form {
  padding: 10px;
  border: 1px solid #C02424;
  margin-bottom: 20px;
}

/* Admin view specific */
#sf_admin_list_batch_actions {
  width: 25px;
}

#sf_fieldset_none label {
  min-width: 200px;
}

#sf_fieldset_none input, #sf_fieldset_none textarea {
  min-width: 400px;
}

#sf_fieldset_none textarea {
  min-height: 200px;
}