/* Specific stripe that differentiates the Admin Login */
.admin-content h1 {
  /* change the background from the ugly colour here! */
  /*background: #eee; */
  /*background: url("../images/stripe.png") top left; 	decided again this as the login screen header differentiates enough between the two logins, not to mention the nav bar */
  padding-top:2px;
  padding-bottom:2px;
  padding-left:5px;
}

.tool-form {
  padding: 10px;
  border: 1px solid #C02424;
  margin-bottom: 20px;
}

.tool-form li {
  margin: 10px;
}

.tool-form td input {
  width: 300px;
}

.tool-form td textarea {
  width: 400px;
  height: 200px;
}

/* Admin view specific */
#sf_admin_list_batch_actions {
  width: 25px;
}

#sf_fieldset_none label {
  min-width: 200px;
}

#sf_fieldset_none input, #sf_fieldset_none textarea {
  min-width: 400px;
}

#sf_admin_form textarea {
  min-height: 200px;
}

#sf_admin_container a.help {
  display:none;
}

.firstLeft {
  margin-left: 50px;
}

.sf_admin_form_field_pass_fail_pm {
	min-height: 100px;	
}

/*
.sf_admin_form_row div label {
	background-color: red;
}


.student_user_degree_ids_2 {
	left 10000px;
}
*/

/* dont use such a broad rule- look at project/edit for an example of how to work around 
#sf_admin_container label {
	float: none;	
}
*/


/* this is a particular rule for the placeholder sfSchema widgets */
#sf_admin_container div.sf_admin_form_row.sf_admin_form_field_instructions
{
  border-top:double #ccc;
  padding-top:15px;
    padding-bottom:15px;

}

/* the <label> tags of these special dividers */
#sf_admin_container div.sf_admin_form_row.sf_admin_form_field_instructions label
{
  text-align:center;
  width:95%;
  font-size:100%;
  font-weight:bold !important;
  float:none;
}

/* specific <tags> within the <label> tags of these special dividers */
#sf_admin_container div.sf_admin_form_row.sf_admin_form_field_instructions label span.smaller
{
  margin-top:15px;
  clear:both;
  display:block;
  font-size:85%;
  font-weight:normal !important;
}

/* specific <tags> within the admin forms */
#sf_admin_container .sf_admin_form_row label
{
  vertical-align:text-top;
 
}
#sf_admin_container .sf_admin_form_row .content
{
  padding-left:5px;
 
}