/* Ensure that only high level rules are placed here.
     ie. Rules that are used for basic modules, ect. and are overruled at a lower level where needed
*/

table, form {margin: 5% 5%;}

table td{text-align:center;}

table thead{background-color:#F2F2F2; color:#444444}
table thead  tr th{ border:1px solid #E5E5E5; padding:4px 6px; font-weight:normal}
table tbody tr:hover {background-color:#E2E2FF;}
