/**************************************************************/
/* Top-level CSS rules: primitive HTML tags */
body {
  font-family: Arial, serif;
  font-size: 16px;
  color: black;
  background: url("../images/background_top_horizontal_red.png") repeat-x;
}

#wrapper {
  margin: 0 auto;
  width: 930px;
}

a {
  color: #C02424;
  text-decoration: none;
}

/**************************************************************/
/* Header division */
#header {
  height: 80px;
  /* background-color: #C02424; */
}

#logo {
  position: relative;
  float: left;
  width: 176px;
  height: 80px;
  background: url("../images/griffith_logo.png") no-repeat top left;
}

#title {
  position: relative;
  float: left;
  left: 100px;
  top: 35px;
  color: white;
  font-family: Arial; 
  font-size: 26px; 
  word-spacing: 4px; 
  text-shadow: 0px 0px 2px white;
  display: inline;
}

/**************************************************************/
/* Content division */
#content {
  padding-top: 25px;
  text-align: left;
}

/* Generated content title */
h1 {
  font-size: 24px;
  padding-bottom: 15px;
}

table {

}

th, td {
  padding: 5px 5px;
  min-width: 160px;
}

#hl { /* highlight */
  background-color: #DDD; 
  width: 95%;
  padding: 5px
}

#a { /* alternate */
  width: 95%;
  padding: 5px
}

#hli { /* highlight short background */
  background-color:  #DDD; 
  width: 15%; 
  padding: 2px
}

#ai { /* alternate short background */
  width: 20%;
  padding: 2px
}

#actions {
  padding: 20px 15px;
}

#actions a {
  padding: 5px 10px;
  border: 1px grey solid;
  background-color: #EEEEEE;
  border-radius: 10px;
}


/**************************************************************/
/* Footer division */
#footer {
  font-size: 12px;
  color: grey;
  padding: 25px 0;
}