/**************************************************************/
/* Top-level CSS rules: primitive HTML tags */
body {
  font-family: Arial, serif;
  font-size: 16px;
  color: black;
  background: url("../images/background_top_horizontal_red.png") repeat-x;
}

#wrapper {
  margin: 0 auto;
  width: 930px;
}

a {
  color: #C02424;
  text-decoration: none;
}

/**************************************************************/
/* Header division */
#header {
  height: 80px;
  width: 930px;
  /* background-color: #C02424; */
}

#logo {
  position: relative;
  float: left;
  width: 176px;
  height: 80px;
  background: url("../images/griffith_logo.png") no-repeat top left;
}

#title {
  position: relative;
  float: left;
  left: 100px;
  top: 35px;
  color: white;
  font-family: Arial; 
  font-size: 26px; 
  word-spacing: 4px; 
  text-shadow: 0px 0px 2px white;
  display: inline;
}

/**************************************************************/
/* Navigation Bar division */
#navbar {
  position: relative;
  float: left;
  width: 930px;
  text-align: right;
  margin-top: 10px;
  font-size: 14px;
}


/**************************************************************/
/* Content division */
#content {
  position: relative;
  float: left;
  padding-top: 25px;
  text-align: left;
  width: 930px;
}

/* Generated content title */
h1 {
  font-size: 24px;
  padding-bottom: 15px;
}

th, td {
  padding: 5px 5px;
  min-width: 160px;
}

form table {
  line-height: 18px;
}

form th {
  vertical-align: top;
}

#a { /* alternate */
  width: 95%;
  padding: 5px
}

#hli { /* highlight short background */
  background-color:  #DDD; 
  width: 15%; 
  padding: 2px
}

#ai { /* alternate short background */
  width: 20%;
  padding: 2px
}

.action {
  padding: 0px 50px 20px 0px;
  display: inline;
  position: relative;
  float: left;
}

.firstLeft {
  margin-left: 200px;
}

.actionButton {
  font-size: 16px;
  margin-top: 15px;
  margin-left: 25px;
}

.alignleft {
  position: relative;
  float: left;
}

.alignright {
  position: relative;
  float: right;
}

.centered {
  margin: 25px 400px;
  width: 100px;
}

.form {
  font-size: 14px;
}

.flash_notice {
  padding: 10px 50px;
  width: 820px;
  margin: 0 auto 20px auto;
  background: #FFEEAA;
  border: 1px solid #DDCC99;
}

/**************************************************************/
/* Module-specific division */
.project {
  margin-bottom: 12px;
  border: 1px solid #CCC;
  padding: 5px;
  font-size: 14px;
}

.projectTitle {
  font-size: 18px;
  margin-bottom: 6px;
  color: #C02424;
}

.projectOrganisation, .projectMajors, .projectDescription, .projectNotes {
  margin-bottom: 4px;
  line-height: 18px;
}

.projectNotes {
  font-style: italic;
}

/**************************************************************/
/* Footer division */
#footer {
  font-size: 12px;
  color: grey;
  padding: 25px 0;
  width: 930px;
  position: relative;
  float: left;
}
